@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Indie+Flower&family=Overpass:wght@100&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

/* ***************************************** NAVBAR ***************************************** */

nav {
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
}

header li {
    float: right;
    font-size: 1.1em;
    text-transform: uppercase;
}

header li a {
    text-decoration: none;
    display: block;
    padding: 18px 15px;
}

#logo {
    font-family: 'Comfortaa', cursive;
    float: left;
    text-transform: none;
}

/* ***************************************** IMAGE PRINCIPALE ***************************************** */

#imagePrincipale {
    padding-top: 60px;
    background: url(/img/muscle.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 5px 3px 2px gray;
}

#premierTrait {
    height: 2px;
    width: 25%;
    background-color: #FFFAE1;
    margin: -3px auto;
}

h3 {
    padding-top: 30px;
    color: antiquewhite;
    font-size: 2em;
}

/* ***************************************** PRESTATIONS ***************************************** */

#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 50px 0px;
}

#texteIntro {
    padding: 0px 20%;
}

#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 20%
}

.imagesPrestations h4 {
    font-family: 'Indie Flower', cursive;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}

.imagesPrestations img {
    height: 333px;
    width: 500px;
    border: 5px double gray;
    border-radius: 40px;
}

.imagesPrestations img:hover {
    opacity: 0.8;
    transform: scale(1.02);
    transition: 0.8s;
}

/* ***************************************** ÉQUIPE ***************************************** */

/* #equipe {
    height: 270px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}

#equipe h2 {
    padding-top: 50px;
}

#equipe p {
    padding-top: 10px 0px;
} */

/* ***************************************** FOOTER ***************************************** */

footer {
    background-color: gray;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px;
    font-size: 1.2em;
    font-family: 'Overpass', sans-serif;
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    margin-top: 30px;
    width: 57%;
    font-size: 1.2em;
    background-color: #FFFAE1;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightEtIcons {
    display: flex;
    margin: 20px 20px 40px;
    padding: 0 20%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
    font-size: 1.2em;
}

#icons {
    width: 50%;
    text-align: right;
}

#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5em;
    color: #FFFAE1;
}

#icons a:hover {
    transform: scale(1.3);
    transition: 0.1s;
}

